section button{
    width: 5rem;
    height: 2.3rem;
}
section .to-do{
    width: 24rem;
    height: 2.3rem;
}
.container{
    text-align: center;
}
#add-btn{
    background-color:green;
}
#delete-btn{
    background-color: red;
}
.text-center{
    color: red;
}