body {
  background-color: beige;
}
.div {
  text-align: center;
  color: darkred;
  border: 2px solid darkmagenta;
  border-radius: 25px;
  border-collapse: collapse;
  text-shadow: brown 10rem;
  box-shadow: black 20rem;
}
#input{
    border-radius: 5px;
}
#add-btn{
    border-radius: 5px;
}
